.barra {
  position: relative;
  width: 75%;
  height: 4px;
  background-color: rgba(228, 27, 27, 0.2);
  border: 1px solid rgba(255, 50, 50, 0.4);
  border-radius: 10px;
  top: 30px;
  margin: 0 auto;
}


.progreso {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: white;
  border-radius: 10px;
}

.punto {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.barra:hover .punto {
  opacity: 1;
}

.punto .tiempo {
  position: absolute;
  top: -24px; 
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 12px;
  background-color: transparent;
  white-space: nowrap;
}

.tiempos {
  width: 100%;  
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5px; 
  color: white;
  font-size: 14px;
}

.tiempo-actual,
.duracion-total {
  width: 40px;  
  text-align: center;
}
